body{
font-family: Arial;
margin:0;
background:#fff0f5;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#ff2e88;
color:white;
}

.hero{
text-align:center;
padding:60px;
background:#ffe3f1;
}

.products{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
flex-wrap:wrap;
}

.product{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

button{
background:#ff2e88;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
}

.cart{
position:fixed;
right:0;
top:0;
width:300px;
height:100%;
background:white;
box-shadow:-3px 0 10px rgba(0,0,0,0.2);
padding:20px;
display:none;
}

input{
width:100%;
padding:10px;
margin:5px 0;
}
